@page "/hd"

@rendermode RenderMode.InteractiveServer

@using kaizenITSM.Domain.ViewModels.hd
@using kaizenITSM.Domain.Enumerators.hd

@inject HttpClient _httpClient;
@inject ILogger<TicketsViewModel> _logger
@inject NavigationManager _navigationManager
@inject DialogService _dialogService

<div class="row ms-2">
    <div class="col-12">
        <div class="row mt-2">
            <div class="col-6">
                <RadzenDropDown @bind-Value=@viewType Data=@ticketViewType TextProperty="Name" ValueProperty="ID" Style="width: 200px;">
                </RadzenDropDown>
            </div>
            <div class="col-6">
                <div class="float-end ms-2">
                    <a onclick="@CardView"><img id="card" src="images\view\card-24.png" /></a>
                </div>
                <div class="float-end ms-2">
                    <a onclick="@ListView"><img id="list" src="images\view\list-24.png" /></a>
                </div>
                <div class="float-end ms-2 me-2">
                    <a onclick="@KanbanView"><img id="list" src="images\view\kanban-24.png" /></a>
                </div>
                <div class="float-end me-4">
                    <RadzenDropDown @bind-Value=@timeScope Data=@ticketTimeScope TextProperty="Name" ValueProperty="Scope" Style="width: 150px;">
                    </RadzenDropDown>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" JustifyContent="JustifyContent.Normal" AlignItems="AlignItems.Normal" 
                             class="w-100">
                    <RadzenButton Variant="Variant.Outlined" Text="Nowy incydent" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" 
                                  Click="OnInsert" />
                    <RadzenButton Variant="Variant.Outlined" Text="Popraw" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" />
                    <RadzenButton Variant="Variant.Outlined" Text="Usuń" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" />
                    <RadzenButton Variant="Variant.Outlined" Text="Podejmij" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" />
                    <RadzenButton Variant="Variant.Outlined" Text="Zamknij" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" />
                    <RadzenButton Variant="Variant.Outlined" Text="Przydziel" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" />
                </RadzenStack>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                @if (showList)
                {
                    <RadzenDataGrid @ref="grid" @bind-Value=@selectedItem AllowAlternatingRows="true" FilterMode="FilterMode.Advanced"
                                    AllowFiltering="true" AllowSorting="true" TItem="TicketsViewModel" Data="@data"
                                    Density="Density.Default" SelectionMode="Radzen.DataGridSelectionMode.Multiple" PageSize="24"
                                    AllowColumnResize="true" AllowColumnReorder="true" AllowColumnPicking="false" 
                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true"
                                    AllowVirtualization="true" AllowRowSelectOnRowClick="true" LogicalFilterOperator="LogicalFilterOperator.And">
                        <EmptyTemplate>
                            <p class="grid-empty-template">Brak danych.</p>
                        </EmptyTemplate>
                        <Columns>
                            <RadzenDataGridColumn TItem="TicketsViewModel" Width="60px" Sortable="false" Filterable="false">
                                <HeaderTemplate>
                                    <RadzenCheckBox TabIndex="-1" TriState="false" TValue="bool?" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Select all items" }})"
                                                    Value="@(@selectedItem == null || @selectedItem?.Any() != true ? false : !data.All(i => @selectedItem.Contains(i)) ? null : data.Any(i => @selectedItem.Contains(i)))"
                                                    Change="@(args => @selectedItem = args == true ? data.ToList() : null)" />
                                </HeaderTemplate>
                                <Template Context="data">
                                    <RadzenCheckBox TabIndex="-1" TriState="false" Value="@(@selectedItem != null && @selectedItem.Contains(data))" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Select item" }})"
                                                    TValue="bool" Change=@(args => { if(!allowRowSelectOnRowClick) { grid.SelectRow(data); }}) />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="TicketsViewModel" Property="ID" Title="ID" Width="90px" />
                            <RadzenDataGridColumn TItem="TicketsViewModel" Property="Icon" Title="Typ" Frozen="true" Width="40px">
                                <Template Context="data">
                                    <RadzenImage Path="@String.Format(@"images/ticket/type/{0}-24.png", data.Icon)" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="TicketsViewModel" Property="Topic" Title="Tytuł">
                                <Template Context="data">
                                    <RadzenLink Path=@String.Format("hd/detail/{0}", data.ID) Text="@data.Topic" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="TicketsViewModel" Property="User" Width="180px" Title="Utworzył" />
                            <RadzenDataGridColumn TItem="TicketsViewModel" Property="AssignmentUsers" Width="180px" Title="Przydzielone" />
                            <RadzenDataGridColumn TItem="TicketsViewModel" Property="StatusDisclaimer" Width="150px" Title="Status" />
                            <RadzenDataGridColumn TItem="TicketsViewModel" Property="CloseDate" Width="150px" Title="Zakończono" />
                            <RadzenDataGridColumn TItem="TicketsViewModel" Property="Date" Width="150px" Title="Utworzono" />
                        </Columns>
                    </RadzenDataGrid>
                }
                @if (showCard)
                {

                }
                @if (showKanban)
                {

                }
            </div>
        </div>
    </div>
</div>

@code {
    private bool showList = true;
    private bool showCard = false;
    private bool showKanban = false;

    private int userID = -1;
    private int viewType = 1;
    private int timeScope = 30;
    private string status = "A";

    bool allowRowSelectOnRowClick = true;
    RadzenDataGrid<TicketsViewModel> grid;

    private IEnumerable<TicketsViewModel> data;
    IList<TicketsViewModel>? selectedItem;

    private List<TicketViewTypeEnumerator> ticketViewType = new List<TicketViewTypeEnumerator>()
    {
        new TicketViewTypeEnumerator(1, "1", "Zgłosznia otwarte"),
        new TicketViewTypeEnumerator(2, "2", "Zgłosznia nieprzydzielone"),
        new TicketViewTypeEnumerator(3, "3", "Anulowane zgłoszenia"),
        new TicketViewTypeEnumerator(4, "4", "Zgłosznia zakończone"),
        new TicketViewTypeEnumerator(5, "5", "Moje zgłosznia otwarte"),
        new TicketViewTypeEnumerator(6, "6", "Moje zgłosznia zamknięte")
    };

    private List<TicketTimeScopeEnumerator> ticketTimeScope = new List<TicketTimeScopeEnumerator>()
    {
        new TicketTimeScopeEnumerator(30, "Ostatnie 30 dni"),
        new TicketTimeScopeEnumerator(1, "Ostatnie 24 godziny"),
        new TicketTimeScopeEnumerator((int)DateTime.Today.DayOfWeek, "W tym tygodniu"),
        new TicketTimeScopeEnumerator(90, "Ostatnie 90 dni"),
        new TicketTimeScopeEnumerator(DateTime.Today.Day, "Ten miesiąc"),
        new TicketTimeScopeEnumerator(DateTime.Today.DayOfYear, "Ten rok"),
        new TicketTimeScopeEnumerator(999999, "Wszystkie")
    };

    protected override async Task OnInitializedAsync()
    {
        data = await _httpClient.GetFromJsonAsync<IEnumerable<TicketsViewModel>>($"Tickets/SelectByParam?userID={userID}&timeScope={timeScope}&Status={status}");
    }

    void OnInsert()
    {
        _navigationManager.NavigateTo("/hd/insert");
    }

    void ListView()
    {
        showList = true;
        showCard = false;
        showKanban = false;
    }

    void CardView()
    {
        showList = false;
        showCard = true;
        showKanban = false;
    }

    void KanbanView()
    {
        showList = false;
        showCard = false;
        showKanban = true;
    }
}
